@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}



:root{
    --corfundo: #EDEDE9;
    --cormarrom: #A8815E;
    --corrose: #F0DDD2;
    --corcinza: #7B7B7B;
    --cormarromclaro: #cca88b;
}


body{
    background-color: var(--corfundo);
}

header {
    background-color: var(--cormarrom);
    padding-top: 20px;
    padding-bottom: 40px;

}

nav a{
    font-family: 'Poppins', sans-serif;    font-size: 20px;

    color: var(--corfundo);
    font-size: 30px;
    text-decoration: none;
    margin-left: 10%;
    margin-left: 15%;
    padding-left: 8px;
    
}
    
h1{
    font-family: 'Poppins', sans-serif;    font-size: 20px;
    color: var(--cormarrom);
    font-size: 50px;
    padding-left: 20px;
    padding-top: 20px;
    



}
p{
   font-size: medium;
}

.p{
    color: var(--corcinza);
}


h2{
    font-family: 'Poppins', sans-serif;    font-size: 20px;
    color: var(--cormarrom);
    font-size: 50px;
    padding-left: 20px;
    padding-top: 20px;
}




footer p {
    font-family: 'Poppins', sans-serif;    font-size: 20px;
    color: var(--corfundo);
    font-size: 15px;
    background-color: var(--cormarrom);
    margin-top: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;


}
#icon{
    font-size: 27px;
    color: var(--corrose);
    padding-left: 20px;
}