@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}



:root {
    --corfundo: #EDEDE9;
    --cormarrom: #A8815E;
    --corrose: #F0DDD2;
    --corcinza: #7B7B7B;
    --cormarromclaro: #cca88b;
}


body {
    background-color: var(--corfundo);
}

header {
    background-color: var(--cormarrom);
}

.logo {
    width: 300px;
}

.navbar {
    background-color: var(--cormarrom);
}

nav a {
    font-family: 'Poppins', sans-serif;
    color: var(--corfundo);
    font-size: 25px;
    text-decoration: none;
    padding-left: 5px;
    text-align: center;
    padding-top: 10px;
}

/* arrumar os nav links */
.nav-link {
    color: var(--corrose);
    transition: 0.5s;
}

li {
    width: 120px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--cormarrom);
    font-size: 50px;
    margin-top: 1%;
    padding-left: 50px;
    padding-top: 20px;
}

h2 {

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--cormarrom);
    margin-top: 2%;
    font-size: 50px;
    padding-left: 50px;
    /* padding-top: 20px; */
}

.services {
    color: var(--corcinza);

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-size: 23px;
    color: var(--corcinza);
    padding-left: 50px;

}

.img2 {
    float: right;
    padding-bottom: 10px;
    border-radius: 20px;
    margin: 20px;
    width: 400px;
}

.img {
    float: left;
    padding-bottom: 10px;
    border-radius: 20px;
    margin: 20px;
    width: 400px;
}

strong {
    color: var(--cormarrom);
}

.contrate {
    text-decoration: none;
    background-color: var(--corrose);
    border: solid 1px var(--cormarrom);
    color: var(--cormarrom);
    border-radius: 70px;
    padding: 5px;
    display: inline-block;
    margin-left: 30%;
    font-size: 30px;
}

.contrate:hover {
    color: var(--corrose);
    background-color: var(--cormarrom);
    border: var(--corcinza);
    transition: 1s;
    border: solid 1px var(--corrose);
}

#parceiros {
    margin-top: 4%;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--cormarrom);
    font-size: 50px;
    padding-left: 50px;
    padding-top: 1%;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--cormarrom);
    font-size: 30px;
    padding-left: 50px;
    padding-top: 1%;

}

iframe {
    margin-left: 3%;
    width: 90%;
}

#ok {
    padding-left: 50px;
    font-size: 45px;
}

.div1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-size: 25px;
    color: var(--cormarrom);
    background-color: rgb(216, 208, 191);
    padding-left: 20px;
    border-radius: 40px;
    margin: 10px;
    padding: 30px;
    margin-top: 2%;
}

.pForm {
    padding-right: 30%;
}

input {
    border-radius: 5px;
    border-color: var(--cormarrom);
    padding: 5px;
    color: var(--corfundo);
    background-color: var(--cormarromclaro);
    font-size: 25px;
    margin: 0.4%;
}

.campos {
    width: 70%;
}

.envio {
    margin-left: 30%;
}

footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--corfundo);
    font-size: 15px;
    background-color: var(--cormarrom);
    margin-bottom: 0;
    padding-left: 0;
}

footer {
    background-color: var(--cormarrom);
    padding: 2.5%;
}

#icon {
    font-size: 27px;
    color: var(--corrose);
    padding-left: 20px;
}

@media (max-width:500px) {
    img {
        width: 300px;
    }
    .img {
        width: 300px
    }
    .img2 {
        width: 300px
    }
}