@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}



:root {
    --corfundo: #EDEDE9;
    --cormarrom: #A8815E;
    --corrose: #F0DDD2;
    --corcinza: #7B7B7B;
}


body {
    background-color: var(--corfundo);
}
header {
    background-color: var(--cormarrom);
    padding-top: 20px;
    padding-bottom: 40px;


}

nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--corfundo);
    font-size: 25px;
    text-decoration: none;
    margin-left: 7%;
    margin-left: 13%;
    padding-left: 5px;

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--cormarrom);
    font-size: 50px;
    padding-left: 50px;
    padding-top: 20px;





}

h2 {
   
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--cormarrom);
    margin-top: 10%;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 20px;
}

.services {
    color: var(--corcinza);

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-size: 23px;
    color: var(--corcinza);
    padding-left: 50px;

}

img {
    padding-bottom: 10px;
    border-radius: 20px;
    margin: 20px;
    width: 950px;
}


strong {
    color: var(--cormarrom);
}

button {
    background-color: var(--corrose);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--cormarrom);
    border: solid 1px var();


}


footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--corfundo);
    font-size: 15px;
    background-color: var(--cormarrom);
    margin-top: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;


}

#icon {
    font-size: 27px;
    color: var(--corrose);
    padding-left: 20px;
}