imagem-de-fundo-do-formulario

body{
    background-image: url(../ZeloYa/IMG/30\ frases\ sobre\ amamentação\ que\ demonstram\ a\ importância\ desse\ ato.jpg);
 background-repeat: no-repeat;
background-position: center top;
background-attachment: fixed;
background-size: cover;
}
